@{
    ViewData["Title"] = "Home - Hack K-State";
}
<div>
	<div>
		<h1>Main Content</h1>
	</div>
	<div>
		<div><p>Details</p></div>
		<div><p>Details</p></div>
		<div><p>Details</p></div>
	</div>
	<div>
		<h2>Login</h2>
	</div>
</div>
<div1 id="pythoninput">
    <textarea name="codeinput" rows="15" cols="153">Insert code here...</textarea>
</div1>
<button class="button" type="button">Submit Code</button>
