@{
    ViewData["Title"] = "Home - Hack K-State";
}

<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
</script>


<div class="container-fluid custom">
        <div class="row">

            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="feature" id="editor">
                    // Write your code here!!
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="feature" id="output">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-4">
                <button class="btn btn-primary" id="upload_code_submit">Compile</button>
            </div>

        </div>

<hr>
<script src="https://pagecdn.io/lib/ace/1.4.6/ace.js" integrity="sha256-CVkji/u32aj2TeC+D13f7scFSIfphw2pmu4LaKWMSY8=" crossorigin="anonymous"></script>
<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    
    var editor = ace.edit("editor");
    var output = ace.edit("output");
    editor.session.setValue("print('Hello World')")
   // var editSession = ace.createEditSession("",);

    editor.setTheme("ace/theme/solarized-light");
    output.setTheme("ace/theme/solarized-light");
    editor.session.setMode("ace/mode/python");
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
    var timer;
    function UploadCode() {
        $.ajax({
            url: "/submit/Submit",
            method: "POST",
            data: { 'code': editor.getValue() },
        }).then(res => {

            timer = setInterval(myTimer, 1000);
            function myTimer() {
                InvokePoke(res)
            }

            InvokePoke(res)

        });
    }

    function InvokePoke(num) {

        $.ajax({
            url: "/submit/Response",
            method: "POST",
            data: { 'id': num },
        }).then(res => {
            var o = JSON.parse(res);
            var formatJson = JSON.stringify(o, null, '\t')

            console.log(o.result.status.code)

            if (o.result.status.code == 15) {
               
                clearInterval(timer);
                GetResults(num);
            }
            else if (o.result.status.code == 11) {
                alert("Error")
                clearInterval(timer)
            }
        });

    }

    function GetResults(num) {
        $.ajax({
            url: "/submit/GetResultCompile",
            method: "POST",
            data: { 'id': num },
        }).then(r => {
            //$('#output').val(res)
            output.session.setValue(r)
        });

    }

    function createCORSRequest(method, url) {
        var xhr = new XMLHttpRequest();
        if ("withCredentials" in xhr) {
            xhr.open(method, url, true);
        } else if (typeof XDomainRequest != "undefined") {
            xhr = new XDomainRequest();
            xhr.open(method, url);
        } else {
            xhr = null;
        }
        return xhr;
    }

    $('#upload_code_submit').on('click', UploadCode);

</script>
