html, body {
    padding: 0;
    margin: 0;
    background: linear-gradient(#7014E8 25%, #4733DD 60%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
/*--- navigation bar ---*/
.navbar {
    background: #fff;
    border: 1px solid#b5b5b5;
}

.nav-link,
.navbar-brand {
    color: #7014E8;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: Raleway, sans-serif;
}

    .navbar-brand:hover {
        color: #8333f2;
    }

.nav-link {
    margin-right: 1em !important;
    font-size: 1.5rem;
    padding: 2px 5px;
}

    .nav-link:hover {
        color: #8333f2;
    }

.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-image: url('images/header-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-button {
    background: linear-gradient(#7014E8, #4733DD);
    padding: 15px 40px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
}

    .header-button:hover {
        background: white;
        padding: 15px 40px;
        border: 1px solid #fff;
        color: #7014E8;
        text-decoration: none;
        transition: 0.5s;
    }

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    border: 4px dashed #fff;
    padding: 50px;
    border-radius: 12px;
}

    .description h1 {
        color: #fff;
        font-weight: 800;
    }

    .description p {
        color: #fff;
        margin-bottom: 40px;
        font-size: 1.3rem;
        line-height: 1.5;
    }

    .description button {
        border: 1px solid #fff;
        background: linear-gradient(#7014E8, #4733DD);
        border-radius: 0;
        color: #fff;
    }

        .description button:hover {
            border: 1px solid #fff;
            background: #fff;
            color: #7014E8;
        }

.details {
    border: 3px double #7014E8;
    ;
    height: 160px;
    padding: 50px;
    margin: 15px;
    text-align: center;
    border-radius: 30px;
}

    .details p {
        font-family: Raleway, sans-serif;
        font-weight: 900;
        font-size: 1.1rem;
        color: #7014E8;
        padding: 0;
    }

.container {
    margin-left: 0;
    margin-right: 0;
    background: #fff;
}

.row-bottom {
    background: #fff;
    position: fixed;
    bottom: 0;
    height: 200px;
    border-top: 1px solid #454545;
    margin-left: 0;
    margin-right: 0;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 15px;
    margin-top: 15px;
    height: 400px;
}

#output {
    background: #fff;
    border: 1px solid #fff;
    margin-top: 15px;
    height: 400px;
}

#submit {
    background: linear-gradient(#7014E8, #4733DD);
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 15px;
    margin-top: 10px;
}

    #submit:hover {
        background: #fff;
        padding: 10px 30px;
        text-decoration: none;
        color: #7014E8;
        border: 1px solid #fff;
        margin-left: 15px;
        margin-top: 10px;
        transition: 0.5s;
    }

hr {
    background: #fff;
}

.custom {
    background-color: #D4CCCA;
}