/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
#navigation {
	color: darkorchid;
}
.container {
	margin: 0;
	padding: 0;
}
.container.body-content {
	margin: 0;
	padding: 0;
}
.nav-item {
	list-style-type: none;
	display: inline;
}
.nav-item-list {
	margin: 0;
	padding: 0;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: darkorchid;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

textarea {
    resize: none;
}

#pythoninput {
    padding: 10px 24px;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none;

}

.button {
    background-color: #6700ab;
    color: white;
    border: 12px solid #6700ab;
}
.button:hover {
        background-color: #6700ab; 
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    } 

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
